.cartTotal-promoCode{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cartTotal{
    width: 50%;
}
.cartTotal div{
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cartTotal hr{
    margin-bottom: 1rem;
}
.cartTotal .total p{
    font-weight: 700;
}

.cartTotal-promoCode .promoCode p{
    color: rgb(83, 83, 83);
    font-weight: 600;
    margin-bottom: 1rem;
}
.cartTotal-promoCode .promoCode .input-button{
    display: flex;
}
.cartTotal-promoCode .promoCode .input-button input{
    height: 50px;
    font-size: large;
    width: 70%;
    border-radius: 4px;
    background-color: var(--header-background);
    outline: none;
    border: none;
    padding-left: 1rem;
}
.cartTotal-promoCode .promoCode .input-button button{
    background-color: var(--button-background);
    height: 50px;
    border: none;
    outline: none;
    cursor: pointer;
    width: 30%;
    border-radius: 4px;
    font-size: large;
    color: var(--button-text-color);
}
.cartTotal-promoCode .promoCode .input-button button:hover{
    background-color: var(--button-hover-background);
}