.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: var(--header-background);
    color: var(--text-color);
}
.header .headerIcons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}
.header .headerIcons .favoriteIcon{
    color: red;
}
.header .headerIcons div{
    transition: 0.5s ease;
}
.header .headerIcons div:hover{
    scale: 1.1;
}

.header .changeTheme .dark-light{
    border: none;
    outline: none;
    background-color: var(--change-theme-background);
    color: var(--change-theme-color);
    border-radius: 50%;
    padding: 0.5rem;
    cursor: pointer;
    transition: 0.5s ease;
}
.header .changeTheme .dark-light:active svg{
    visibility: hidden;
}